/build
/cmake_build
/cmake-build*
/resolve_symlinks
/resolved_dependencies
/compile_commands.json
.waf*
.lock-waf**
.vscode
**/.venv
**/*.egg-info
.idea
waf3-*
**/build/
.env

**/__pycache__/
**/.pytest_cache/
venv-pytest
venv-docs*
venv-test
.editorconfig
pytest-venv
.cache
.devcontainer
